*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #fbfafc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23000000' fill-opacity='0.18'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {

    width: auto;
    max-width: 90rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);

}

.quote-text {
    font-size: 4.4rem;
}

.long-quote {
    font-size: 3.2rem;
}

.fa-quote-left {
    font-size: 6.4rem;
}

.quote-author {
    margin-top: 1.5rem;
    font-size: 3.2rem;
    font-weight: 400;
    font-style: italic;
}

.button-container {
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;

}

button {
    cursor: pointer;
    font-size: 2rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: #333;
    outline: none;
    padding: 0.8rem 2.88rem;
    box-shadow: 0 0.55rem rgba(121, 121, 121, 0.65);
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translate(0, 0.55rem);
    box-shadow: 0 0.16rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
    color: #38a1f3;

}

.fa-twitter {
    font-size: 2.2rem;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

/* .lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
} */



/* media query  */
@media screen and (max-width:1000px) {
    .quote-container {
        margin: auto 1rem;
    }

    .quote-text {
        font-size: 4rem;
    }

    .fa-quote-left {
        font-size: 5.5rem;
    }
}